services:
  db:
    # NOTE: No persistance storage configured.
    # Using v14 to prevent schema permissions. See also docker-init-db.sql.
    # See: https://hub.docker.com/_/postgres/
    image: postgres:17
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./docker-init-db.sql:/docker-entrypoint-initdb.d/init_db.sql
    networks:
      - open-product-dev

  redis:
    image: redis
    networks:
      - open-product-dev


  web:
    build:
      context: .
    image: maykinmedia/open-product:${TAG:-latest}
    environment: &web_env
      DJANGO_SETTINGS_MODULE: openproduct.conf.docker
      SECRET_KEY: ${SECRET_KEY:-django-insecure-@4wj9(+*bu7*v&%on7+e_8!d1ckl%r=6+sz#d2!pw^@lb0+=}
      DB_NAME: openproduct
      DB_USER: openproduct
      DB_HOST: db
      DISABLE_2FA: true
      CACHE_DEFAULT: redis:6379/0
      CELERY_BROKER_URL: redis://redis:6379/1
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      # Only allow all hosts for development/testing purposes!
      ALLOWED_HOSTS: '*'

      # Enabling Open Telemetry requires the services in docker/docker-compose.observability.yaml
      # to be up and running.
      OTEL_SDK_DISABLED: ${OTEL_SDK_DISABLED:-true}
      OTEL_RESOURCE_ATTRIBUTES: maykin.saas.client=maykin,maykin.saas.target=dev
      OTEL_METRIC_EXPORT_INTERVAL: ${OTEL_METRIC_EXPORT_INTERVAL:-60000}
      OTEL_EXPORTER_OTLP_ENDPOINT: ${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4317}  # gRPC
      # otel:supersecret, escape spaces and = with percent encoding
      OTEL_EXPORTER_OTLP_HEADERS: Authorization=Basic b3RlbDpzdXBlcnNlY3JldA==
      OTEL_EXPORTER_OTLP_METRICS_INSECURE: ${OTEL_EXPORTER_OTLP_METRICS_INSECURE:-true}
      _OTEL_ENABLE_CONTAINER_RESOURCE_DETECTOR: true
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_started
      web-init:
        condition: service_completed_successfully
    labels:
      - app=open-product
      - service=api
    networks:
      - open-product-dev

  web-init:
    image: maykinmedia/open-product:${TAG:-latest}
    environment:
      <<: *web_env
      # Django-setup-configuration
      RUN_SETUP_CONFIG: ${RUN_SETUP_CONFIG:-true}
      # UPL
      LOAD_UPL: ${LOAD_UPL:-true}
    command: sh -c "/setup_configuration.sh && /load_upl.sh"
    volumes:
      - ./docker/setup_configuration:/app/setup_configuration
    depends_on:
      - db
      - redis
    networks:
      - open-product-dev

  celery:
    image: maykinmedia/open-product:${TAG:-latest}
    environment: *web_env
    command: /celery_worker.sh
    healthcheck:
      test: [ "CMD", "python", "/app/bin/check_celery_worker_liveness.py" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      - db
      - redis
      - web
    networks:
      - open-product-dev

  celery-beat:
    image: maykinmedia/open-product:${TAG:-latest}
    environment: *web_env
    command: /celery_beat.sh
    depends_on:
      - celery
    networks:
      - open-product-dev

  celery-flower:
    image: maykinmedia/open-product:${TAG:-latest}
    environment: *web_env
    command: /celery_flower.sh
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery
    networks:
      - open-product-dev

networks:
  open-product-dev:
    name: open-product-dev
