{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% load i18n static %}


{% block content %}
    <div id="content-main">

        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    {% include "reversion-compare/compare_links_partial.html" %}
                {% endblock %}
            </ul>
        {% endblock %}

        <p class="help">
            {% blocktrans with date1=version1.revision.date_created|date:_("DATETIME_FORMAT") date2=version2.revision.date_created|date:_("DATETIME_FORMAT") %}
                Compare <strong>{{ date1 }}</strong> with <strong>{{ date2 }}</strong>:
            {% endblocktrans %}
        </p>
        &lsaquo; <a href="{{ history_url }}">{% trans "Go back to history list" %}</a> &rsaquo;

        {% include "reversion-compare/compare_partial.html" %}

        &lsaquo; <a href="{{ history_url }}">{% trans "Go back to history list" %}</a> &rsaquo;
    </div>
{% endblock %}
