name: code-quality

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  open-api-workflow-code-quality:
    uses: maykinmedia/open-api-workflows/.github/workflows/code-quality.yml@v5
    with:
      python-version: '3.12'
      node-version: '24'

      django-settings-module: 'openproduct.conf.ci'
